.search-header-wrap{
  position: fixed;
  width: 100%;
}

.country-wrap{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  min-height: 100%;
  background: #FFF;
}
.country-search-header{
  background: #F7F7F7;   
  padding: 10px;
}
.country-search-wrap{
  margin: 0px 4%;
  position: relative;  
  background: #E6E6E6;
  line-height: 40px;
  height: 40px;
  border-radius: 20px;
  box-sizing: border-box;
}
.country-search-wrap .search-icon{
  position: absolute;
  left: 10px;
  top: 8px;
}
.search-input{
  border: none;
  outline: none;
  margin-left: 40px;
  line-height: 40px;
  height: 37px;
  width: 80%;
  background: #E6E6E6;
}
.country-content{
  padding-top: 96px;
}
.country-title{
  padding: 0 4%;
  line-height: 30px;
  height: 30px;
  background: #F7F7F7;
}
.contry-list{
  background: #FFF;
}
.contry-list{
  background: #FFF;
}
.country-item{
  color: #333;
  font-size: 16px;
  margin: 0 4%;
  line-height: 50px;
  height: 50px;
}
.country-item:nth-child(n+2){
  border-top: 1px solid #EDEDED;
}